@use "../base/variables" as v;
@use "../base/mixins" as m;

.box-link {
  &__link {
    &,
    &:link,
    &:visited {
      position: relative;

      text-decoration: none;
      color: inherit;
      width: 100%;
      min-height: 30rem;
      width: 100%;
      margin: 0 auto;
      box-shadow: v.$shadow-light;
      background-position: center;
      background-size: cover;
    }
  }

  &__container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  &__excerpt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    background: linear-gradient(
      to top right,
      rgba(v.$color-grey-dark, 0.9),
      rgba(v.$color-grey-dark, 0.75)
    );
    color: v.$color-white;
    transition: all 0.24s ease-out;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.8rem;
  }

  &__tag {
    font-size: 1.4rem;
  }

  &:hover {
    box-shadow: v.$shadow-medium;
  }

  &:hover &__bg {
    transform: translateY(0);
  }
}
