@use "../base/variables" as v;
@use "../base/mixins" as m;

.page-section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include m.bp-md {
    padding: 10rem 0;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--top-padding {
    padding-bottom: 0;
  }
}
